@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(115, 61, 217);
  font-family: emoji;
}

.navbar img {
  width: 55px;
  height: 45px;
  border-radius: 50%;
  /* border: 1px solid #000000; */
}

.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}

.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 60px 10px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_dahsboard::before {
  content: "Dashboard";
}

.menu_editor::before {
  content: "Editor";
}

.menu_setting::before {
  content: "Setting";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 230px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}

.content {
  padding: 20px;
  margin-top: 58px;
  transition: margin-left 0.5s ease;
  background-color: #ffffff;
  overflow: hidden;
  display: none;
}

body.dark .content {
  background-color: #222; /* Dark background color for content in dark mode */
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 0;
  }

  .sidebar {
    top: 0;
  }
}


.user_info_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
  padding: 5px;
  border-radius: 5px;
}
.user_initial_container {
  width: 30px;
  height: 30px;
  background-color: #ff853f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: box-shadow 0.3s ease, transform 0.3s ease;  */
}

.user_info_container:hover {
  background-color: #71717126; 
  /* transform: scale(1.1);  */
}

.user_initial {
  color: #fff;
  font-size: 16px;
}

/* Style for the down arrow icon */
.bx-chevron-down {
  font-size: 24px;
  color: #333;
}

/* Add this code to your existing CSS file or style section */
/* Add this code to your existing CSS file or style section */
.user_card {
  position: fixed;
  top: 70px; /* Adjust the top position based on your layout */
  right: 20px; /* Adjust the right position based on your layout */
  width: 25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: none;
  z-index: 1000;
}

.user_card.open {
  display: block;
}

.card_content {
  padding: 20px;
}

.logout_area {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1rem;
}

.logout_area:hover {
  background-color: #ecf0f1; /* Change background color on hover */
}

.logout_area i {
  font-size: 20px;
  margin-right: 17px; /* Adjust the margin for spacing between icon and text */
  color: #000000;
  transition: color 0.3s ease;
  font-weight: bold;
}

.logout_area:hover i {
  color: #000000;
  animation: vibrate 0.3s ease 1, bounce 0.8s ease 1; /* Vibrate once and then bounce */
}

/* Add this code to your existing CSS file or style section */
@keyframes vibrate {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-8px); }
  60% { transform: translateY(-4px); }
}

.user-detailss {
  display: flex;
  align-items: center;

}

.user-icons {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: #ff6a14;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.user-info {
  flex-grow: 1;
}

.user-infos h5 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.user-infos p {
  margin-bottom: 0;
  color: #7f8c8d;
  font-size: 15px;
}

