{% include 'sidebar.html' %}
<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Side Navigation Bar in HTML CSS JavaScript</title>
    <link rel="stylesheet" href="/static/css/mainStyle.css" />

</head>

<style>

</style>

<body>


<div class="content">
    <!-- Your existing content goes here -->
    <h1>Your Content Goes Here</h1>
    <p>This is a central content div. Add your content inside this div.</p>
  </div>
    <!--  -->
    <!-- JavaScript -->
    <script src="/static/script.js"></script>
    <!-- Include js-cookie library -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/src/js.cookie.min.js"></script>
    <script>

    </script>
</body>

</html>